.header {
	background: url("../img/picture.png") no-repeat scroll right 0 transparent;
	max-width: 100%;
	height: 120px;
	border-radius: 6px 6px 6px 6px;
	padding-top: 25px;
	padding-bottom: 115px;
}

.logo {
	background: url("../img/logo.png") no-repeat scroll right 0 transparent;
	width: 322px;
	height: 100px;
	margin: 0 auto 15px auto;
	float: none;
}

.banner {
	background: url("../img/banner_small.png") no-repeat scroll 0 0 transparent;
	width: 446px;
	height: 72px;
	border-radius: 6px 6px 6px 6px;
	margin: 0 auto 15px auto;
}

.check {
	background: url("../img/check.png") no-repeat scroll 0 0 transparent;
	height: 39px;
	width: 36px;
	float: left;
	margin: 13px 0px 0px 13px;
}


.w {
	float: left;
	display: inline;
	font-size: 2.3em;
	margin-top: 13px;
	font-weight: bold;
	font-family: 'Times New Roman';
	padding-right: 2px;
	color: #fff;
	text-shadow: 1px 1px 1px #000000, 0 0px 0 #000000;

}

.g {
	float: left;
	display: inline;
	font-size: 2em;
	margin-top: 17px;
	padding: 0;
	font-family: Arial;
	color: #330001;
	font-weight: bold;
	text-shadow: 1px 1px 1px #ff8d86, 0 0px 0 #ff8d86;
	

}

.s {
	float: left;
	display: inline;
	font-size: 0.9em;
	line-height: .9em;
	font-family: Arial;
	color: #330001;
	text-shadow: 1px 1px 1px #ff8d86, 0 0px 0 #ff8d86;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 21px;
	padding: 0;
}

.iphone {
	background: url("../img/phone.png") no-repeat scroll 0px 0 transparent;
	height: 0px;
	width: 0px;
	float: left;
	display: inline;
	padding-left: 5px;
	margin-top: 0px;
	padding-right: 0px;
}

.button {
	background: url("../img/button.png") no-repeat scroll 0px 24px transparent;
	height: 70px;
	width: 124px;
	display: inline;
	float: left;
	padding-top: 35px;
	margin: -13px 0px 0px 5px;
	padding-left: 10px;
	font-family: Arial;
	text-transform: uppercase;
	font-size: 1.4em;
	text-shadow: -2px -2px 0px #5c0c0e, 0 0px 0 #5c0c0e;
	
}

.button a {
	text-decoration: none;
	font-weight: bold;
	color: #fff;
	
}

.button a:hover {
	color: #ffbdbe;
}


.picture {
	display: none;
	background: url("../img/picture_small.png") no-repeat scroll right 0 transparent;
	max-width: 100%;
	height: 125px;
	border-radius: 6px 6px 6px 6px;
	padding-top: 25px;
	padding-bottom: 115px;
	margin-top: 20px;
}

.topmenu {
	display: none;
}

.bottommenu {
	display: inline-block;
	margin: 70px 0px 0px 10px;
	width: 155px;
	background: none;
	font-family: Arial, serif;
	font-size: 1em;
	padding: 0;
	line-height: 1.5em;
}

.bottommenu ul {
	margin-left: 20px;
	height: 3.2em;
	width: 100%;
}

.bottommenu li {
	display: inline;
	list-style: none;
}


.bottommenu li a {
	line-height: 1em;
	padding: 0;
	color: #fff;
}

.bottommenu a.current {
	color: #ffbdbe;
}

.bottommenu li a:hover {
	color: #ffbdbe
}

.content {
	width: 100%;
	margin-top: 0px;
	border-radius: 6px 6px 6px 6px;
	padding: 25px 0 120px 0px;
}

.left {
	display: none;
	width: 30%;
	height: 650px;
	background: #fff;
	border-radius: 6px 6px 6px 6px;
	margin: 0 auto 15px auto;
	float: none;
	margin-bottom: 15px;
}

.right {
	width: 99%;
	height: 650px;
	border-radius: 6px 6px 6px 6px;
	margin: -45px auto;
}

h2 {
	margin-top: 205px;
}

.download {
	float: none;
	background: #f4d7d7;
	border-radius: 13px 13px 13px 13px;
	border: none;
	margin: 10px auto;
	height: 90px;
}

.register {
	float: none;
	margin-top: 0px;
	background: #f4d7d7;
	border-radius: 13px 13px 13px 13px;	
	border: none;
	margin: 10px auto;
	height: 100px;
}

.deposit {
	float: none;
	margin-top: 0px;
	background: #f4d7d7;
	border-radius: 13px 13px 13px 13px;	
	border: none;
	margin: 10px auto;
	height: 90px;
}

.bannerright {
	background: none;
	width: 100%;
	margin: -345px auto 0 auto;
}

.bannerright a {
	margin-top: 0px;
}

.bannerp {
	background: none;
    border-radius: 0px 0px 13px 13px;
	width: 100%;
	height: 160px;
	margin: 0 auto;
}

.table {
	width: 446px;
	margin: 15px auto 85px;
}

.table .td1 {
	width: 58px;
}

.table .td2 {
    color: #000000;
    font: bold 10px/10px 'Arial';
    padding-top: 19px;
    width: 23%;
}

.table .td3 {
    padding: 14px 5px 0 17px;
    width: 7%;
}

.table .td3 a {
	font: lighter 10px/10px 'Arial';
}

.table .td4 {
	font: 10px/12px 'Arial';
	width: 20%;
}

.links ul {
	width: 100%;
}

.socf {
	width: 200px;
}

a.fbf {
	background: url("../img/facebook.png") no-repeat scroll 0 0 transparent;
	height: 37px;
	width: 38px;
	float: left;
	margin-left: 0px;
}

a.googlef {
	background: url("../img/google.png") no-repeat scroll 0 0 transparent;
	height: 37px;
	width: 38px;
	float: left;
}

a.twitterf {
	background: url("../img/twitter.png") no-repeat scroll 0 0 transparent;
	height: 37px;
	width: 38px;
	float: left;
}

a.mailf {
	background: url("../img/mail.png") no-repeat scroll 0 0 transparent;
	height: 37px;
	width: 38px;
	float: left;
	margin-left: 15px;
}

.footer {
	margin-top: 30px;
	width: 100%;
	line-height: 22px;
}

.clear {
	clear: both;
}