* {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #dee5ed;
}

.wrapper {
	background-color: #fff;
	float: left;
	padding: 10px;
	margin: 15px;
	border-radius: 0 0 10px 10px;
}

h3.news {
	font-size: 16px;
	font-weight: bold;
	border-bottom: 1px #ccc solid;
	margin: 0px -10px;
	padding: 0px 0px 8px 17px;
}

h4.news {
	font-size: 16px;
	color: #515151;
	font-weight: normal;
	background-color: #eceff4;
	margin: 0px -10px;
	padding: 5px 0px 5px 17px;
	border-top: 1px #fff solid;
}

ul.news {
	list-style-type: none;
	width: 300px;
	font-size: 11px;
}

li.news {
	border-bottom: 1px #ccc dashed;
	padding: 7px 10px;
}

.time {
	color: #990000;
}

a {
	color: #336699;
	text-decoration: none;
	font-size: 12px;
}

a:hover {
	text-decoration: underline;
	color: #336699;
}

.comment {
	color: #7d7d7d;
}

ul.bottom {
	list-style-type: none;
	float: right;
	margin-bottom: 9px;
}

li.bottom {
	float: left;
	border-right: 1px #7d7d7d solid;
	padding: 0px 5px 0px 5px;
	margin: 5px 0px;
}

li.fake {
	float: left;
	color: #336699;
	font-size: 12px;
	padding: 3px 0px 0px 5px;
	margin: 5px -2px 0px 0px;
}