.header {
	max-width: 100%;
	height: 125px;
	background: #3C7C54;
	border-radius: 6px 6px 6px 6px;
	padding-top: 25px;
}

.logo {
	width: 30%;
	height: 100px;
	background: #69DA93;
	border-radius: 6px 6px 6px 6px;
	margin-left: 1%;
	float: left;
}

.banner {
	width: 60%;
	height: 100px;
	background: #8BDAA8;
	border-radius: 6px 6px 6px 6px;
	margin-left: 39%;
}

.content {
	max-width: 100%;
	height: 700px;
	background: #404975;
	margin-top: 30px;
	border-radius: 6px 6px 6px 6px;
	padding-top: 25px;
}

.left {
	width: 30%;
	height: 650px;
	background: #68B3CF;
	border-radius: 6px 6px 6px 6px;
	margin-left: 1%;
	float: left;
}

.right {
	background: #88BBCF;
	width: 60%;
	height: 650px;
	border-radius: 6px 6px 6px 6px;
	margin-left: 39%;
}

.clear {
	clear: both;
}