.header {
	max-width: 500px;
	height: 125px;
	background: #3C7C54;
	border-radius: 6px 6px 6px 6px;
	padding-top: 25px;
	padding-bottom: 115px;
}

.logo {
	width: 30%;
	height: 100px;
	background: #fff;
	border-radius: 6px 6px 6px 6px;
	margin: 0 auto 15px auto;
	float: none;
}

.banner {
	width: 60%;
	height: 100px;
	background: #fff;
	border-radius: 6px 6px 6px 6px;
	margin: 0 auto 15px auto;
}

.content {
	max-width: 500px;
	height: 700px;
	background: #404975;
	margin-top: 30px;
	border-radius: 6px 6px 6px 6px;
	padding-top: 25px;
	padding-bottom: 645px;
}

.left {
	width: 30%;
	height: 650px;
	background: #fff;
	border-radius: 6px 6px 6px 6px;
	margin: 0 auto 15px auto;
	float: none;
	margin-bottom: 15px;
}

.right {
	background: #fff;
	width: 60%;
	height: 650px;
	border-radius: 6px 6px 6px 6px;
	margin: 0 auto 15px auto;
}

.clear {
	clear: both;
}